@using Microsoft.AspNetCore.Identity
@inject UserManager<Korisnik> _userManager


@model IEnumerable<Cineverse.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projekcija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            

            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projekcija.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>

                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
                <td>
                    @if (User.IsInRole("Administrator") || item.KorisnikId == _userManager.GetUserId(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>

        </tr>
}
    </tbody>
</table>
