@using Microsoft.AspNetCore.Identity

@inject UserManager<Korisnik> _userManager
@model IEnumerable<Cineverse.Models.Karta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rezervacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sjediste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rezervacija.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sjediste.Id)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || item.Rezervacija.KorisnikId == _userManager.GetUserId(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
