@model Cineverse.Models.Sjediste

@{
    ViewData["Title"] = "Obriši";
}

<h1>Obriši</h1>

<h3>Jeste li sigurni da želite obrisati ovo?</h3>
<div>
    <h4>Sjedište</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kolona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kolona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipSjedista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipSjedista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DvoranaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DvoranaId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
