@model Cineverse.Models.Sjediste

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sjediste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipSjedista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipSjedista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DvoranaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DvoranaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
