@model IEnumerable<Cineverse.Models.Sjediste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Red)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipSjedista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvoranaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Red)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipSjedista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvoranaId)
            </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <nobr>|</nobr>
                    }
                    else if (User.IsInRole("Kino radnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <nobr>|</nobr>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
        </tr>
}
    </tbody>
</table>
